<div class="row">
  
<div class="col-md-9">
</br></br>
<h4>In this game you will need to guess the secret word by guessing one letter at a time.</h4>
<h4>You have 5 turns but will be given an extra turn for each letter you guessed correctly.</h4>
</br></br>
</div>

<div class="col-md-3">
	
				</br></br>
          <a href="/new" class="btn btn-warning btn-lg" role="button">Start new game</a> 
        
</br></br>
</div>

</div>