<!DOCTYPE html>
<html>
  <head>
    <title>WOF game</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"> 
    <link rel="stylesheet" href="styles.css">

  </head>
  <body>
    <div class="container">
      <h1 id="wheel"><a href="/"><img width="128" alt="Wheel2000Round2" src="wheel.jpg" align="middle"/></a>
      Welcome to the Wheel of Fortune!</h1> 
      <hr>
      
          <%= yield %>
  
        <hr>
        
    </div>
    
 
    
    <footer class="footer">
      <div class="container">
        
        <p class="text-muted">&#169 2017 Vitaly Amos, ID 51772933.
        Logo image by Germanname1990 [CC BY 3.0 (http://creativecommons.org/licenses/by/3.0)], via Wikimedia Commons.</p>
      </div>
    </footer>
       
       
       
    
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
  </body>
</html>