<div class="row">
  
<div class="col-md-9">
<h2>Game over.</h2>
<h3>Congratulations, you have won this game!</h3> </br>
<h4>The secret word was:</h4>
<h3><%= @secretword.upcase %></h3>
</div>

<div class="col-md-3"> </br></br>
<a href="/new" class="btn btn-warning btn-lg" role="button">Start new game</a>
</div>

</div>